
.btn {
    border-radius: 10px;
    padding: 10px 20px;
    margin: 10px auto;
    background-color: #ad343e;
    color: white;
    text-align: center;
    display: block;
    text-decoration: none;
}


.btn:hover {
    font-weight: 900;
    background-color:#5f1d22;
    transition: background-color  500ms ease-in, font-weight 500ms ease-in;
}
